* {
  margin: 0;
  color: #ffffff;
}
html {
  overflow-y: hidden;
}
html:hover,
html:active {
  overflow-y: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  background-color: #141414;
}
