.banner {
  position:relative;
  color: white;
  width: 100%;
  height: 55vw;
}
.banner__image__wrapper {
  position: absolute;
  left: 0; 
  right: 0; 
  top:0;
  bottom: 0;
  width:100%;
  height:100%;
}
.banner__image {
  width:100%;
  height: 100%;
  object-fit:contain;
}
.banner__contents {
  margin-left:30px;
  padding-top: 140px;
  height: 190px;

  /** animation */
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 1300ms;
  transition-delay: 0ms;
  opacity: 1;
}

.banner__title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.4vw;
  width: 36%;
  
  /** animation */
  opacity: 1;
  transition-duration: 600ms;
  transition-delay: 200ms;
}

.banner__button {
  cursor: pointer;
  padding:0.3rem 1.4rem;
  border: 0;
  border-radius: 4px;
  opacity:1;
  appearance: none;
  margin-right: 0.5rem;
}
.banner__button.button__play {
  color: black;
}

.banner__button:hover {
  opacity:0.8;
  transition: all 0.2s;
}

.button__list{
  background: rgba(109,109,110,0.4);
}

.banner__fadeBottom {
  height:7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37,37,37,0.61),
    rgba(109,109,110,0.4)
  );
}