@media (min-width: 1400px) {
  .content {
    width: 16.17%;
  }
}

@media (max-width: 1399px) {
  .content {
    width: 19.45%;
  }
}
@media screen and (max-width: 1099px) {
  .content {
    width: 24.35%;
  }
}
@media screen and (max-width: 799px) {
  .content {
    width: 32.6%;
  }
}
@media screen and (max-width: 499px) {
  .content {
    width: 49%;
  }
}

.content {
  object-fit: contain;
  margin-right: 8px;
  transition: transform 450ms;
  user-select: none;
  -webkit-user-drag: none;
}

.content:hover {
  transform: scale(1.08);
  cursor: pointer;
}
