.swiper__container {
  overflow: hidden;
}
@media (min-width: 1400px) {
  .swiper__container {
    padding: 20px 57px;
  }
}

@media (max-width: 1399px) {
  .swiper__container {
    padding: 20px 54px;
  }
}
@media screen and (max-width: 1099px) {
  .swiper__container {
    padding: 20px 42px;
  }
}
@media screen and (max-width: 799px) {
  .swiper__container {
    padding: 20px 26px;
  }
}
@media screen and (max-width: 499px) {
  .swiper__container {
    padding: 20px;
  }
}
.swiper__mover {
  transition: transform 0.54s ease;
  display: flex;
  padding: 20px 0;
}
